---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404" description="Page not found">
 <main class="py-32 space-y-32 text-center">
    <em class="text-2xl">
      This page is intentionally left blank. 
    </em>
  </main>
</Layout>

